<a href="https://colab.research.google.com/github/reskiandaruputra2025-pixel/KKA-X-SEMESTER-1/blob/main/1_fungsi_print_nama_x_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"
nama_siswa_4 = "Nurul"

print(nama_siswa_1, end="/")
print(nama_siswa_2, end="/")
print(nama_siswa_3, end="/")
print(nama_siswa_4)

Jielo/Aida/Dani/Nurul

In [ ]:

nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_8, nama_siswa_7, nama_siswa_6, nama_siswa_5, sep="*")

Naufal*Rendra*Habibi*Hasbi

In [ ]:
nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_8, nama_siswa_7, nama_siswa_5, nama_siswa_6, sep="-")

Naufal-Rendra-Hasbi-Habibi